header{
    text-align: center;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc
}
#container, #nav{
    display: inline-block;
    margin-top: 30px;
}
.myName{
    background-color: #4aaaa5;
    color: #ffffff;
    width: auto;
    padding: 20px;
}
#nav{
    text-align: right;
    width: 54%;
}

h2{
    color: #4aaaa5;
    padding: 20px;
}
#content{
    position: relative;
    top: 20px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/blue.png");
    
