header {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px;
}

.container,
.nav {
    display: inline-block;
    margin-top: 30px;
    border-right: #cccccc;
}

.myName {
    background-color: #4aaaa5;
    color: #ffffff;
    width: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 4px;
}

.nav {
    text-align: right;
    width: 54%;
}

h2 {
    color: #4aaaa5;
    /* padding: 20px; */
    margin-bottom: 20px;
    font-size: xx-large;
}

.content {
    position: relative;
    top: 20px;
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 4px;
    height: 100%;
    padding: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/blue.png");
    text-decoration: none;
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 4px;
}

.active {
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 4px;
}

#self {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20x;
    padding: 10px;
}

.port {
    width: 200px;
    height: auto;
    padding: 20px;
    margin-left: 100px;
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
    background-color: #4aaaa5;
}


/* Add a background color and some padding around the form */

.info {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer {
    position: fixed;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #777777;
    border-top: 8px solid #4aaaa5;
    bottom: 0;
}